/* External CSS */
body {
    font-family: Arial, sans-serif;
}

header {
    font-size: 14px;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

h1 {
    margin-bottom: 40px;
}

.card-header button {
    text-decoration: none;
    font-size: 1.25em;
    color: #007bff;
}

.card-header button:hover {
    text-decoration: underline;
}

.card-body {
    font-size: 1.1em;
}

footer {
    margin-top: 20px;
}
